.list-group-item {
    font-size: 85%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.form-control {
    width: auto;
    display: inline-block;
}
div div span {
    margin-left: 10px;
}
select {
    height: 90%;
}
.card-header {
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #6a7a69;
}
.btn-close {
    float: right;
    background-color: #6a7a69;
    outline: #6a7a69;
    padding-top: 0;
    padding-bottom: 0;

    i {
        color: #efefef;
    }
    i:hover {
        color: lightcoral;
    }
}