<nav class="navbar navbar-expand-lg navbar-light bg-white border">
  <a class="navbar-brand" href="#">
    <img class="img" src="/src/assets/res/pgh-seal-icon-teenie.png">
    <span id="client-name">City of Poughkeepsie</span>
  </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Garbage <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Recycling</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Municipal</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <!-- <app-datepicker-popup [from]="defaultFrom" [to]="defaultTo" (dateRangeSelection)="onDateRangeSelection($event)"></app-datepicker-popup> -->
     
      <button type="button" class="btn btn-dark mr-3 d-flex justify-content-center align-items-center" data-toggle="modal" data-target="#login-modal">
        <i class="fas fa-sign-out-alt" id="logout"></i>
      </button>
      
      <app-login-modal></app-login-modal>

    </ul>
  </div>
</nav>