@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

p {
  font-family: Sans-serif, Arial, Times, serif;
  font-size: 20px;
  border-style: solid;
  text-align: center;
  outline: rgb(47, 1, 211) solid 5px;
  margin-top: 20px;
  box-shadow: 10px 10px 5px grey;
  border-radius: 25px;
  width: auto;
}