<div class="row">
  <div class="col"></div>
  <div class="col" id="landing-middle-col">
    <div class="text-center" style="padding-top: 10px;">
      <button type="button" class="btn btn-warning" id="sign-in-out-btn" (click)="mockAuthorization()" routerLink="select">Sign In/Authorize</button>
    </div>
      <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->
      <button type="button" class="btn btn-danger" id="revoke-access-btn" style="display: none;">
        Revoke Access</button>
      <div id="auth-status" style="display: inline; padding-left: 25px"></div>
      <hr>
  </div>
  <div class="col"></div>
</div>