table {
  width: 100%;
  table-layout: auto;
}

div {
  width: 140%;
}

.mat-form-field {
  font-size: 14px;
  width: 140%;
}

#content {
  width: 140%;
}

td {
  width: auto;
  border: 1px solid rgb(136, 136, 136);
  text-align: center; 
  vertical-align: middle;
}

th {
  font-weight: bold;
  display: table-cell;
  border: 1px solid rgb(136, 136, 136);
  vertical-align: middle;
  color: rgb(0, 0, 0);
}
tr:hover {background-color:#f5f5f5;}

/**
th.mat-column-truckID, td.mat-column-truckID {
  width: 10%;
}

th.mat-column-start, td.mat-column-start {
  width: 50%;
}
th.mat-column-end, td.mat-column-end {
  width: 200%;
}
th.mat-column-latitude, td.mat-column-latitude {
  width: 200%;
}
th.mat-column-longitude, td.mat-column-longitude {
  width: 200%;
}
th.mat-column-tons, td.mat-column-tons {
  width: 200%;
}
th.mat-column-distance, td.mat-column-distance {
  width: 200%;
}
*/