<div class="card">
  <div class="card-header bg-dark text-white">
    Truck ID

    <span class="form-group">
      <label for="truck-id-1"></label>
      <select class="form-control" id="truck-id-1" [(ngModel)]="selectedId" (ngModelChange)="getTotals($event)">
        <!-- <option *ngFor="let id of runstable.rows" [value]="id">{{id}}</option> -->
      </select>
    </span>

  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Total Tons <span style="float: right;"></span></li>
    <li class="list-group-item">Total Hours<span style="float: right;"></span></li>
    <li class="list-group-item">Average Tons
      <br/>Per Hour<span style="float: right;"></span></li>
  </ul>
</div>