<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <app-selection></app-selection>
  </div>
  <div class="col-2"></div>
</div>
<div class="row" id="selection-row">
  <div class="col"></div>
  <div class="col-md-auto">
    <button type="button" class="btn btn-light btn-lg" id="selection-slider" (click)="showSelectionComponent()">
      <i class="fas fa-angle-down" id="selection-slider-arrow"></i>
    </button>
  </div>
  <div class="col"></div>
</div>

<div class="row" id="totals-cards-row">
  
  <!-- Assigned Runs Card -->
  <div class="col">
  <div class="card text-center">
    <div class="row no-gutters">
      <div class="col-md-6 horizontal" id="summary-runs">
        <div class="vertical">
            <img src="/src/assets/res/icons/truck-icon-wh.png" class="img-fluid" alt="" id="summary-truck-icon">
        </div>
      </div>
      <div class="col-md-6">
            <div class="card-block px-2">
                <!-- {{ some total sum }}  -->
                <h2>30</h2> 
                <p class="card-text">Assigned Runs</p>
            </div>
      </div>
    </div>
  </div>
  </div>

  <!-- Tons Collected Card -->
  <div class="col">
  <div class="card text-center">
      <div class="row no-gutters">
        <div class="col-md-6 horizontal" id="summary-tons">
          <div class="vertical">
              <img src="/src/assets/res/icons/trash-icon-wh.png" class="img-fluid" alt="" id="summary-trash-icon">
          </div>
        </div>
        <div class="col-md-6">
              <div class="card-block px-2">
                  <!-- {{ some total sum }}  -->
                  <h2>95</h2>
                  <p class="card-text">Tons Collected</p>
              </div>
        </div>
      </div>
    </div>
    </div>

    <!-- Total Miles Card -->
    <div class="col">
    <div class="card text-center">
        <div class="row no-gutters">
          <div class="col-md-6 horizontal" id="summary-miles">
            <div class="vertical">
                <img src="/src/assets/res/icons/road-icon-wh.png" class="img-fluid" alt="" id="summary-road-icon">
            </div>
          </div>
          <div class="col-md-6">
                <div class="card-block px-2">
                    <!-- {{ some total sum }}  -->
                    <h2>90</h2>
                    <p class="card-text">Total Miles</p>
                </div>
          </div>
        </div>
      </div>
      </div>

</div>

<div class="row" id="truck-details-row">
  <div class="col-3">
    <app-truck-details></app-truck-details>
    <br/>
    <div>
      <!-- <app-open-extra-button [showDetailsExtra]="showingDetailsExtra"></app-open-extra-button> -->
      <button type="button" class="btn btn-info" id="details-extra-button" (click)="toggle()">
        + Add Truck
      </button>
    </div>
    <div id="details-extra-div"><app-truck-details-extra></app-truck-details-extra></div>
  </div>
</div>

<div class="row" id="runs-table-row">
  <app-table></app-table>
</div>
