<nav class="navbar navbar-dark bg-dark" style="height: 100%;">
  <div class="navbar-nav" style="height: 100%;">
    <a class="nav-item nav-link active" routerLink="" href="#">
      <i class="fas fa-home"></i>Summary<span class="sr-only">(current)</span> 
    </a>
    <a class="nav-item nav-link" routerLink="runs" href="#">
      <i class="fas fa-road"></i>Runs
    </a>
    <a class="nav-item nav-link" routerLink="map" href="#"> 
      <i class="fas fa-map"></i>Map 
    </a>
    <a class="nav-item nav-link" routerLink="employees" href="#"> 
      <i class="fas fa-users"></i>Employees 
    </a>
    <a class="nav-item nav-link" routerLink="statistics" href="#"> 
      <i class="fas fa-chart-bar"></i>Statistics 
    </a>
  </div>
</nav>
