<div class="panel panel-default" style="margin-top:15px">
    <div class="panel-heading heading-right-t">
        Assign Runs:
    </div>
    <div class="panel-body">
        Show Assigned Runs <input type="checkbox" ng-model="showAssignedValue" ng-click="" value="Show Assigned Runs" \>
        <table class="table table-hover" style="table-layout:auto">
            <th>Truck ID</th>
            <th>Date/Time</th>
            <th>Assigned Personnel</th>
            <tr dir-paginate="row in runrows | showAssigned:showAssignedValue | itemsPerPage: 10" ng-model-options="{debounce: 1000}">
                <td>{{row.truckID}}</td>
                <td>{{row.start}}</td>
                <td style="width:70%">
                    <ui-select multiple ng-model="row.assigned" on-select="saveAssignment($item.id, row.truckID + row.start, $item.name)" on-remove="deleteAssignment($item.id, row.truckID + row.start)">
                        <ui-select-match>
                            <span ng-bind="$item.name"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
                            <span ng-bind="item.name"></span>
                        </ui-select-choices>
                    </ui-select>
                </td>
            </tr>
        </table>
        <dir-pagination-controls></dir-pagination-controls>
    </div>
</div>
