<div class="panel panel-default" style="margin-top:15px">
<table class="table table-hover" style="table-layout:auto">
    <th>{{vm.runs.columns[0]}}</th>
    <th>{{vm.runs.columns[1]}}</th>
    <th>Assigned Personel</th>
    <tr dir-paginate="row in vm.runs.rows | itemsPerPage: 10">
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td style="width:70%">
  <ui-select multiple ng-model="row.assigned" on-select="saveAssignment($item.id, row[0] + row[1], $item.name)" on-remove="deleteAssignment($item.id, row[0] + row[1])">
    <ui-select-match>
        <span ng-bind="$item.name"></span>
    </ui-select-match>
    <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
        <span ng-bind="item.name"></span>
    </ui-select-choices>
  </ui-select>
        </td>
    </tr>
</table>
<dir-pagination-controls></dir-pagination-controls>
</div>
