
<script>
</script>
<div id="mainDiv" class="row">
    <div id="visDiv" class="col-sm-9">
    <button ng-click="deThree()"></button>
    </div>
    <div id="optionsDiv" class="col-sm-3">
        <div id="settingsDiv" class="collapsible">
            <h3>Settings</h3>
            <form>
                <div class="form-group">
                    <label for="startDate">Start Date</label>
                    <input class="uiElement form-control" type="date" id="startDate">
                </div>
                <div class="form-group">
                    <label for="endDate">End Date</label>
                    <input class="uiElement form-control" type="date" id="endDate">
                </div>
                <form>
                    <div class="form-group">
                        <label for="group">Group by</label>
                        <select id="group" class="uiElement form-control">
										<option value="day">Day</option>
										<option value="week">Week</option>
										<option value="month">Month</option>
									</select>
                    </div>
                </form>
            </form>
            <br />
        </div>
    </div>
</div>