<!--<a href="" data-toggle="popover" title="Popover Header" data-content="Some content inside the popover">Toggle popover</a>-->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default" style="margin-top:15px">
            <div class="panel-heading heading-right-t">
                Filters:
            </div>
            <div class="panel-body">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="startDate">Start Date</label>
                        <input ng-model="search.start" class="uiElement form-control" id="startDate" type="text">
                    </div>
                    <div class="form-group">
                        <label for="endDate">End Date</label>
                        <input ng-model="search.end" class="uiElement form-control" type="text" id="endDate">
                    </div>
                </form>
                <hr>
                <table class="table table-hover" id="run-table">
                <thead>
                    <!--
        <th ng-repeat="hdr in vm.rows.columns track by $index">{{hdr}}</th>
        -->
                    <th>Truck ID</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Run #</th>
                    <th>Tons</th>
                    <th>Distance (mi)</th>
                </thead>
                <tbody>
                    <tr dir-paginate="row in vm.rows |  dateRange:search.start:search.end | itemsPerPage: 10 ">
                        <td>{{row.truckID}}</td>
                        <td>{{row.start}}</td>
                        <td>{{row.end}}</td>
                        <td>{{row.run}}</td>
                        <td>{{row.tons}}</td>
                        <td>{{row.distance}}</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
            <dir-pagination-controls></dir-pagination-controls>

    </div>