<!--<a href="" data-toggle="popover" title="Popover Header" data-content="Some content inside the popover">Toggle popover</a>-->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default" style="margin-top:15px">
            <div class="panel-heading heading-right-t">
                Filters:
            </div>
            <div class="panel-body">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="startDate">Start Date</label>
                        <input class="uiElement form-control" type="date" id="startDate">
                    </div>
                    <div class="form-group">
                        <label for="endDate">End Date</label>
                        <input class="uiElement form-control" type="date" id="endDate">
                    </div>
                </form>
                <hr>
                <table class="table table-hover" id="run-table">
                <thead>
                    <!--
        <th ng-repeat="hdr in vm.rows.columns track by $index">{{hdr}}</th>
        -->
                    <th>Truck ID</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Run #</th>
                    <th>Tons</th>
                    <th>Distance (mi)</th>
                </thead>
                <tbody>
                    <tr ng-repeat="row in vm.rows.rows track by $index">
                        <td ng-repeat="col in row track by $index">{{col}}</td>
                    </tr>
                </tbody>
            </table>
            </div>
            
        </div>

    </div>
    <script>
        $().ready(function() {
            $("#run-table").click(function(event) {
                var parent = event.parentElement;
                console.log(parent);
                console.log(event);
                jEvent = event;
            });
        });
        $('[data-toggle="popover"]').popover();
    </script>